*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
./*.png
BCmetapopmodel/*.png
AGE-ODE_model/*.log
AGE-ODE_model/*.asv
AGE-ODE_model/*.aux
AGE-ODE_model/*.gz
*.pdf
bc-cdc-survey/data-generated/
bc-cdc-daily-survey.xlsx

2019-nCoV_daily_linelist_MO_*.csv
*~
sir_self_isol_fit_3ac3.html
sir_self_isol_fit_jessica.html

selfIsolationModel/SIR-functionalised/*.tex
selfIsolationModel/SIR-functionalised/*.pdf
selfIsolationModel/SIR-functionalised/functions_sir_to_reduce.R
selfIsolationModel/SIR-functionalised/*_to_reduce.*
*.rds
selfIsolationModel/stan/seeiqr-bayes-notes.tex
selfIsolationModel/stan/figs-ms copy/values.tex
